#home {
  background-image: url('../../assets/img/121.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;

  height: 100vh;
  width: 100vw;
  section {
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: $md;
    padding-right: $md;
    height: 80%;
    width: 40%;
  }
  h1 {
    text-align: center;
    color: $off-white;
    font-weight: 400px;
    font-size: $lg;
  }
  .cube {
    color: $orange;
    height: 80px;
    width: 80px;
  }
  .play-button-container {
    width: 100%;
  }
  a.play-button {
    cursor: pointer;
    color: #fff;
    background-color: $green;
    border-radius: 30px;
    display: block;
    padding: $normal;
    text-align: center;
    transition: 0.3s linear all;
  }
  a.play-button:hover {
    background-color: darken($green, 15%);
  }
  .auth-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: $lg;
    transition: 0.3s linear all;
  }
  .auth-container .auth-login {
    cursor: pointer;
    color: #fff;
    padding: $normal 0;
    text-align: center;
    border-radius: 30px;
    background-color: $red;
    width: 45%;
    transition: 0.3s linear all;
  }
  .auth-container .auth-login:hover {
    background-color: darken($red, 15%);
  }
  .auth-container .auth-register {
    cursor: pointer;
    color: #fff;
    background-color: $blue;
    padding: $normal 0;
    text-align: center;
    border-radius: 30px;
    width: 45%;
    transition: 0.3s linear all;
  }
  .auth-container .auth-register:hover {
    background-color: darken($blue, 15%);
  }
  @media (max-width: 768px) {
    section {
      margin-top: 20px;
      padding: 1px $normal;
      width: 80%;
      height: 80%;
    }
    h1 {
      font-size: 30px;
    }
  }
}
